* {
    outline: none !important;
    -webkit-appearance: none !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F6F8;
    font-family: 'Roboto', Arial, sans-serif;

    p,
    a,
    td {
        font-family: 'Roboto', Arial, sans-serif;
    }

    .container {
        width: 100%;
    }

    .pl-20{
        padding-left: 20px;
    }
}