@media screen and (max-width: 600px) {

    .hidden-mobile {
        display: none !important;
    }

    .contact>td,
    .hello>td,
    .footer>td {
        padding: 0 20px !important;
    }

    .social-icons td {
        display: inline-block;
        width: 40px;
        height: 40px;

        a {
            text-align: center;
            line-height: 45px;

            img {
                display: inline-block;
                max-width: 22px;
            }
        }
    }

    table {
        width: 100% !important;

        &.hidden-desktop {
            display: table;
        }

        &.hidden-mobile {
            display: none;
        }

        tr {
            &.hidden-desktop {
                display: table-row;
            }

            &.hidden-mobile {
                display: none;
            }

            td {
                &.hidden-desktop {
                    display: table-cell;
                }

                &.hidden-mobile {
                    display: none;
                }
            }
        }
    }

    .header {
        .header-table {
            height: 225px;

            .header-logo-container {
                padding-left: 20px;

                .header-logo {
                    margin-bottom: 97px;
                }
            }

            .header-navigation-container {
                padding-right: 0;

                .header-navigation {
                    margin-right: 38px;
                }
            }

            .hidden-desktop {
                table {
                    margin-left: 20px;
                }

                .products-navigation {
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0 20px;

                    td {
                        &:after {
                            display: none;
                        }

                        a {
                            font-size: 14px;
                            line-height: 16px;
                            color: #fff;
                            opacity: 1;
                            white-space: nowrap;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .article {
        &.hidden-desktop {
            span {
                position: absolute;
                bottom: -27px;
                left: 50%;
                width: 189px !important;
                margin-left: -94px;
            }
        }

        >td {
            padding: 20px;
        }
    }

    .articles {
        >td {
            padding: 20px;
        }

        .pl-20 {
            padding: 20px;
        }

        img {
            min-width: 100%;
        }
    }

    .social {
        .hidden-desktop {
            text-align: center;
        }
    }

    .contact {
        .hidden-desktop {
            .title {
                h2 {
                    margin-top: 30px;
                }
            }

            .avatar {
                display: inline-block;
                width: 100px;

                img {
                    width: 100%;
                    max-width: 100px;
                    margin-top: 9px;
                }

            }

            .contact-info {
                display: inline-block;
                width: calc(100% - 100px);
                box-sizing: border-box;
                padding-left: 30px;
                padding-top: 10px;

                .name {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000;
                    font-weight: 700;
                }

                .position {
                    margin: 0;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000;
                }
            }
        }

        .social-icons {
            td {
                margin: 30px 20px 20px 0;
                width: 40px;
                height: 40px;

                a {
                    line-height: 56px;
                    img{
                        max-width: 32px;
                        width: 32px;
                    }
                }

                .instagram {
                    line-height: 62px !important;
                }

                .facebook {
                    line-height: 62px !important;

                    img {
                        width: 15px !important;
                    }
                }
            }
        }

        .address {
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px;
            color: #9ca4b1;

            &.second {
                font-size: 12px;
                line-height: 20px;
                color: #9ca4b1;
            }
        }
    }

    .articles {
        .single-article {
            table {
                tr {
                    td {
                        &:first-child {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    table {
        width: 100%;
    }

    .header {
        .header-table {
            .header-logo-container {
                .header-logo {
                    width: 113px;
                    height: 16px;
                }
            }

            .header-navigation-container {
                top: 2px;

                .header-navigation {
                    margin-right: 10px;
                    li {
                        margin-right: 13px;

                        a {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}